#keywords-body h1, #keywords-body .keywords-content {
	margin-left: 10px;
}

#keywords-body label {
	display: block;
}

#keywords-body input {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 40px;
	width: 250px;
    box-shadow: none;
	margin-bottom: 10px;
}

#keywords-body button {
	margin-bottom: 30px;
}

#keywords-body input:focus {
    border: 2px solid #c49f66 !important;
}