#recoverpassword-body {
	padding: 0 15px 0 15px;
}

#recoverpassword-body h1, .recoverpassword-content {
	margin-left: 10px;
}

.recoverpassword-content, .recoverpassword-content p, .recoverpassword-content label {
	text-align: left;
}

.recoverpassword-content p {
	margin-bottom: 25px;
}

#recoverpassword-body label, #recoverpassword-body input, #recoverpassword-body button {
	display: block;
}

#recoverpassword-body label {
	font-weight: normal;
	margin-top: 15px;
}

#recoverpassword-body input {
	width: 230px;
	border: 1px solid #ddd;
	padding: 6px 12px 6px 12px;
}

#recoverpassword-body input {
	height: 40px;
}

#recoverpassword-body button {
	margin-top: 20px;
}

#recoverpassword-body input:focus, #recoverpassword-body textarea:focus {
	border: 2px solid #c49f66 !important;
	outline-style: none !important;
	box-shadow: none !important;
}
