#resetpassword-body {
	padding: 0 15px 0 15px;
}

#resetpassword-body h1, .resetpassword-content {
	margin-left: 10px;
}

.resetpassword-content, .resetpassword-content p, .resetpassword-content label {
	text-align: left;
}

.resetpassword-content p {
	margin-bottom: 25px;
}

#resetpassword-body label, #resetpassword-body input, #resetpassword-body button {
	display: block;
}

#resetpassword-body label {
	font-weight: normal;
	margin-top: 15px;
}

#resetpassword-body input {
	width: 230px;
	border: 1px solid #ddd;
	padding: 6px 12px 6px 12px;
}

#resetpassword-body input {
	height: 40px;
}

#resetpassword-body button {
	margin-top: 10px;
}

#resetpassword-body input:focus, #resetpassword-body textarea:focus {
	border: 2px solid #c49f66 !important;
	outline-style: none !important;
	box-shadow: none !important;
}

#resetpassword-body .register-input {
	position: relative;
	width: 230px;
}

#resetpassword-body .error-sign {
	width: 20px;
    height: 20px;
    line-height: 20px;
    padding-left: 1px;
    top: 10px;
    right: 10px;
}

#error-container {
	height: 20px;
	margin-top: 15px;
}
