faq {

}

/*faq tabs*/

faq a {
	color: #373d5b;
}

faq .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: white;
	background-color: #c49f66;
}

faq .nav-pills a:hover{
	color: #373d5b;
	background-color: #c49f66;
}

/*accordion questions*/

faq .tab-content a, a:hover, a:focus{
	color: white;
	background-color: #373d5b;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
	color: white;
	background-color: #373d5b;
}

