html {
	width: 100%;
	height: 100%;
}

/* Navs */
nav, nav div, nav li, nav ul {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	border-width: 0 0 0 0 !important;
}

/* Search areas */
.search, .search *{
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0 0 0 0;
	height: 50px;
	border-radius: 0px;
}

.search button {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 50px;
}

/* Buttons and inputs */
input:focus, button:focus {
	outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
}

button {
	background: #c49f66 !important;
	color: white !important;
	outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
	border-radius: 0px !important;
}

button:hover {
	background: #b98d49 !important;
}

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

.glyphicon {
	font-size: 12px;
}


/* ===================================================== */
/* Main nav */
#main-nav {
	background: #373d5b;
}

/* Logo/Menu */
#logo {
	height: 50px;
	margin: 0 0 0 0;
	padding-top: 4px;
}

#logo img {
	height: 42px;
}

#logo > a {
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#menu {
	height: 50px;
}

#menu > ul li {
	display: inline-block;
}

#menu .glyphicon {
    font-size: 18px;
	color: white;
}


/* ===================================================== */
/* Secondary nav */

#secondary-nav, #secondary-nav div {
	text-align: center;
	background: #494e6b;
}

#secondary-nav > div ul {
	padding: 0 0 5px 0;
}

#secondary-nav ul {
	display: inline-block;
	float: none;
}

#secondary-nav a {
	padding: 9px 15px 9px 15px;
	color: white;
}

#secondary-nav li {
	background: #494e6b;
}

#secondary-nav li a {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

#secondary-nav li a:hover {
	border-bottom: 3px solid #c49f66;
}

.panel-heading {
	padding: 15px 15px 15px 15px !important;
}

