html {
	width: 100%;
	height: 100%;
}

/* Buttons and inputs */
input:focus, button:focus {
	outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
}

button {
	background: #c49f66 !important;
	color: white !important;
	outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
	border-radius: 0px !important;
}

button:hover {
	background: #b98d49 !important;
}

/* ===================================================== */
/* Main nav */
#main-nav {
	margin-bottom: 0px;
	background: #373d5b;
	border-radius: 0px;
	border-width: 0 0 0 0;
}

/* Search */
#search-div, #search-div *{
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0 0 0 0;
	height: 50px;
	border-radius: 0px;
}

#search-bttn {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 50px;
}

/* Logo/Menu */
#menu, #logo {
	height: 50px;
	padding: 0 0 0 0;
}

#logo > a {
	color: white;
	margin-left: 16px;
	padding: 4px 0 0 0;
}

#logo img {
	height: 42px;
}

#menu > div {
	margin-top: 8px;
	margin-right: 16px;
}

#menu > ul {
	margin-right: 16px;
}

#menu .glyphicon {
    font-size: 18px;
	color: white;
}

/* ===================================================== */
/* Secondary nav */

#secondary-nav {
	text-align: center;
	margin-bottom: 0px;
	background: #494e6b;
	border-radius: 0px;
	border-width: 0 0 0 0;
}

#secondary-nav ul {
	display: inline-block;
	float: none;
}

#secondary-nav a {
	padding: 9px 15px 9px 15px;
	color: white;
}

#secondary-nav li {
	border-top: 3px solid #494e6b;
	border-bottom: 3px solid #494e6b;
}

#secondary-nav li:hover {
	border-bottom: 3px solid #c49f66;
}
