#profile-body {
	padding: 0 15px 0 15px;
}

h1, .profile-content {
	margin-left: 10px;
}

h2 {
	font-size: 18px;
	margin: 0px;
}

#profile-body .profile-content a {
	color: #333;
	border-radius: 0;
	height: 50px;
	padding-top: 16px;
}

#profile-body .profile-content li.active > a, #profile-body .profile-content li.active > a:hover, #profile-body .profile-content li.active > a:focus {
	background: #c49f66;
	color: white;
}

#profile-body .tab-content {
	padding: 15px;
}

#profile-body .tab-content button {
	margin-top: 10px;
	width: 70px;
	height: 40px;
}

#profile-body input {
	border: 1px solid #ddd;
	border-radius: 0;
	height: 40px;
	box-shadow: none;
}

#profile-body input:focus {
	border: 1px solid #ddd !important;
	border-bottom-color: #222 !important;
}

#myAddresses button {
	display: inline-block;
	margin-bottom: 15px;
}


#myAddresses button:not(:first-of-type) {
	width: 40px;
	height: 40px;
}



