#search-body {
	padding: 0 0 0 0;	
}

/*===============================================================================*/
/* Custom Checkbox */

.custom-checkbox {
	display: inline-block;
	width: 17px;
	height: 17px;
}

.custom-checkbox input {
	display: none;
}

.custom-checkbox label {
	cursor: pointer;
	width: 17px !important;
	height: 17px !important;
	background: #f6f6f6;
	border: 1px solid #cccccc;
	position: absolute;
}

.custom-checkbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.custom-checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/*===============================================================================*/
/* Filters */

#side-nav-bttn {
	height: 50px;
	width: 50px;
	float: left;
}

#search-filters {
	width: 250px;
	padding: 5px;
	background: #fff;
	float: left;
}

#search-filters div, #search-filters li, #search-filters ul {
	border-color: transparent;
	box-shadow: none;
}

#filter-rating, #filter-price {
	padding: 10px 15px 10px 15px;
}

#search-filters label {
	padding: 0 0 0 0;
	width: 175px;
	font-weight: normal !important;
	cursor: pointer;
	display: inline-block;
	top: 14px;
}

#search-filters .custom-checkbox label {
	margin: 0;
	vertical-align: bottom;
}

/* Price */
#filter-price input {
	border: 0;
	color: #333;
	display: inline-block;
	width: 120px;
}

#filter-price label {
	font-weight: normal;
	width: 60px;
	display: inline-block;
}

#filter-price-slider {
	margin: 6px 7.5px 0px 7.5px;
}

.ui-slider-handle {
	border-radius: 100%;
	outline-style: none;
	box-shadow: none;
}

.ui-slider-handle:active, .ui-slider-handle:focus, .ui-slider-handle:hover {
	background: #f6f6f6 !important;
	border-color: #cccccc !important;
}

/* Rating */
#filter-rating span {
	vertical-align: top;
}

.rating input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.rating-star {
	background-image: url("../resources/star.png");
	width: 22px !important;
	margin-right: -3px;
}

.rating-star {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 22px;
	width: 22px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1) grayscale(1) opacity(.7);
	-moz-filter: brightness(1) grayscale(1) opacity(.7);
	filter: brightness(1) grayscale(1) opacity(.7);
}

/* Mobile stuff */
.closebtn {
	color: #c49f66;
}

.closebtn:hover {
	color: #b98d49;
}

@media (max-width: 767px) {
	#search-filters {
		padding: 0;
	}

	.mobile-background-filter {
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
	
	.sidenav {
		height: 100%;
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		overflow-x: hidden;
	}
	
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}

/*===============================================================================*/
/* Display settings */

#search-display {
	height: 60px;
	padding: 5px;
}

@media (max-width: 767px) {
	#search-display {
		padding: 0;
	}
}

#search-display-bttn {
	height: 50px;
	width: 50px;
	float: right;
}

#search-order {
	float: right;
}

#search-order-bttn {
	height: 50px;
	width: 150px;
	margin-right: 5px;
}


#search-order .dropdown-menu {
	width: 150px;
	margin: 0;
	box-shadow: none;
	min-width: 150px;
}

/*===============================================================================*/
/* Search results */













