<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4>CONNECT</h4>
				<button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-envelope"></span> Sign up for newsletter</button>
			</div>
			<div class="col-sm-3">
				<h4>Follow us</h4>
					<div class="row">
						<div class="col-sm-2">
							<a class="btn btn-social-icon btn-instagram">
								<span class="fa fa-instagram"></span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-social-icon btn-facebook">
								<span class="fa fa-facebook"></span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-social-icon btn-twitter">
								<span class="fa fa-twitter"></span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-social-icon btn-youtube">
								<span class="fa fa-youtube"></span>
							</a>
						</div>
					</div>
			</div>
			<div class="col-sm-3">
				<h4>Costumer Service</h4>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">Terms & Conditions</a>
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">Contact Us</a> 
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">FAQ's</a> 
				</div>
			</div>
			<div class="col-sm-3">
				<h4>About .bat</h4>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">About us</a>
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">Careers</a> 
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<a href="#">Sitemap</a> 
				</div>
			</div>
		</div>
	</div>
	
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</footer>
</body>
</html>